:root {
   --primary-color:  #2282c7;
}

* {
   margin: 0;
   padding: 0;
}

body {
   background-image: url("asset/Lotto_shot.webp");
   font-weight: 400;
}

nav {
   background-color: var(--primary-color);
}
.brands-wrapper {
   display: flex;
   align-items: center;
   gap: 10px;
} 
.brand-name {
   color: #fff;
   font-size: 12px;
   font-weight: 900;
}

ul {
   margin: 5px 0 5px 10px;
}

main {
   display: block;
   margin: 0 auto;
}

h1 {
   color: #fff;
   text-transform: capitalize;
   background-color: #00000037;
   width:fit-content;
   padding: 5px 10px;
   margin: 10px auto;
   border-radius: 30px;
   font-size: 2.5em;
}

.table-wrapper {
   display: flex;
   justify-content: center;
   align-items: center;
   width: fit-content;
   margin: 2em auto;
   /* border: 1px solid var(--primary-color); */
   gap: 2em;
}
.class-name-wrapper {
   position: sticky;
   top: 0;
   color: #fff;
   background-color: #ff0000;
}
.class-name {
   writing-mode: tb;
   padding: 5px;
   transform: rotate(-180deg);
}
tbody {
   background-color: #ffff00;
   /* font-size: 20px; */
}
.num {
   color: white;
   background-color: #800080;
}
td {
   padding: 5px;
   text-align: center;
   font-weight:400;
   /* border-radius: 2px; */
}

footer {
   display: block;
   color: #fff;
   width: 100%;
   text-align: center;
   margin: 2rem 0 0.3rem;
   background-color: #000;
   border: 1px solid #add8eb31;
   font-size: 30px;
}
footer a {
   color: #fff;
   margin: 0.5em;
}
footer a:hover {
   color: #add8eb;
   transition: 0.4s;
}


/* body {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin: 0;
   background-image: url("./Assets/Lotto_image_cinematic_shot_dyn.webp"); 
} */

/* header {
   display: flex;
   width: 100%;
   justify-content: center;
   background-color: #000;
   margin: 0;
} */

/* li a img {
   width: 100px;
   height: 100px;
   background-color: #fff;
   border-radius: 100px;
   box-shadow: 0px 0px 15px 2px #ff0000;

} */

/* h1 {
   color: #fff;
   text-align: center;
   text-transform: uppercase;
   background-color: #000000d0;
   padding: 5px;
   font-size: 2.5em;
   animation: change-color 5s infinite;
} */
   /* @keyframes change-color {
       0% {
           color: #fff;
       }
       100% {
           color: #add8eb;
       }
   } */




/* footer {
   display: block;
   color: #fff;
   width: 100%;
   text-align: center;
   margin: 2rem 0 0.3rem;
   background-color: #000;
   border: 1px solid #add8eb31;
   font-size: 30px;
}
footer a {
   color: #fff;
   margin: 0.5em;
}
footer a:hover {
   color: #add8eb;
   transition: 0.4s;
} */






@media screen and (max-width: 610px) {
   body {
       width: 100%;
       padding: 0;

   }

   h1 {
       font-size: 2rem;
   }

   .table-wrapper {
       flex-direction: column;
       gap: 2rem;
   }
   tbody {
   font-size: normal;
}
}