:root {
   --primary-color:  #2282c7;
}

* {
   margin: 0;
   padding: 0;
}

body {
   background-image: url("asset/Lotto_shot.webp");
   font-weight: 400;
}

nav {
   display: flex;
   background-color: var(--primary-color);
   justify-content: space-between;
   align-items: center;
}
.brands-wrapper {
   display: flex;
   align-items: center;
   gap: 10px;
} 
.brand-name {
   color: #fff;
   font-size: 12px;
   font-weight: 900;
}

.contact a {
   color: #fff;
   margin: auto 10px;
}
.baba-ijebu {
   color: #f06262;
   padding: 5px;
   background-color: #fff;
   border-radius: 5px;
   /* font-weight: 600; */
   font-size: 16px;
}
.app-link-wrapper a {
   color: #fff;
   display: block;
   text-align: right;
   margin: 0 20px auto 0;
}

.qr-section {
   display: flex;
   flex-direction: column;
   width: fit-content;
   justify-content: center;
   align-items: center;
   margin: 0 auto;
   background-color: #fff;
   box-shadow: 0 2px 8px #ffffff7a;
}
#counterpart_qrCode img {
      width: 150px !important;
      height: 150px !important;
      margin-top: 20px;
      margin-bottom: 0;
   }
   .qr-section p {
      color: #125d93;
      margin: 0;
   }

ul {
   margin: 5px 0 5px 10px;
}

/*Loading & error*/
.loading-and-error-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.loading {
   color: #fff;
   width: 100%;
   text-align: center;
   background-color: #008000;
   font-weight: 800;
}
.error {
   color: #fff;
   width: 100%;
   text-align: center;
   padding: 10px 0;
   background-color: #ff0000;
   font-weight: bold;
}

main {
   display: block;
   margin: 0 auto;
}

h1 {
   color: #fff;
   text-transform: capitalize;
   background-color: #00000037;
   width:fit-content;
   padding: 5px 10px;
   margin: 10px auto;
   border-radius: 30px;
   font-size: 2rem;
}

.table-wrapper {
   display: flex;
   justify-content: center;
   align-items: center;
   width: fit-content;
   margin: 2em auto;
   /* border: 1px solid var(--primary-color); */
   gap: 2em;
}
.class-name-wrapper {
   position: sticky;
   top: 0;
   color: #fff;
   background-color: #ff0000;
}
.class-name {
   writing-mode: tb;
   padding: 5px;
   transform: rotate(-180deg);
}
tbody {
   background-color: #ffff00;
}
.num {
   color: white;
   background-color: #800080;
}
td {
   padding: 5px;
   text-align: center;
   font-weight: 400;
}

@media screen and (max-width: 610px) {
   body {
       width: 100%;
       padding: 0;
   }

   nav {
      display: grid;
      grid-template-columns: 1fr 1fr;
   }
   .contact {
      order: 1;
      display: flex;
   }

   h1 {
       font-size: 1.5rem;
   }

   .table-wrapper {
       flex-direction: column;
       gap: 2rem;
   }
   tbody {
      font-size: normal;
   }
}